@charset "UTF-8";

@media screen and (max-width: 500px) {

    /* Estilo do corpo da página */

    body {
        background: linear-gradient(to right, rgb(29, 28, 72), rgb(1, 20, 62));
        overflow: hidden;
    }
    /* Estilo do Cabeçalho */
    header {
        font-family: Arial, Helvetica, sans-serif;
        width: 100vw;
        height: 100px;
        text-align: center;
    }
    
    header > h1 {
        padding-top: 50px;
        font-size: 34px;
        color: white;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
        font-weight: bolder;
        text-align: center;
    
    }
    /* Estilos da Página Inicial, do menu e dos botões */
    #menu {
        width: 70vw;
        height: 50vh;
    }

    #OrganizacaoBotoes > div {
        display: flex;
        flex-direction: row;
        width: 150px;
        height: 155px;
        padding-right: 40px;
        margin: auto;
    }

    .botao {
        display: block;
        margin: auto;
        width: 50px;
        height: 50px;
        padding: 50px 30px 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-size: 12px;
        cursor: pointer;
    }

    .botao #imgCalculadora {
        position: absolute;
        width: 60px;
        margin: -60px 2px;
    }
    
    .botao #imgPeso {
        position: absolute;
        width: 60px;
        margin: -60px -2px;
    }
    
    .botao #imgMoeda {
        position: absolute;
        width: 45px;
        margin: -50px 5px;
    }
    
    .botao #imgComprimento {
        position: absolute;
        width: 60px;
        margin: -55px 2px;
    }

        /*  Estilo do PopUp da Calculadora */
    .popup-wrapper {
    display: none;
    background-color: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    .popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
    }

    .popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    }

    /* Estilo da calculadora */ 
    .calculadora {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 10px;

    }

    #resultado {
    background-color: white;
    color: black;
    width: 200px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    text-align: right;
    
    }

    .CalcBotao {
    background-color: rgb(31, 31, 31);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    margin: 1px;
    font-size: 16px;
    cursor: pointer;
    }

    .CalcBotao:hover {
    background-color: black;
    }

/* Rodape */ 

    footer {
        font-size: 10px;
        
    }

    footer > div {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100vw;
        height: 5vh;
    }
    
    .social {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: none;
        border-radius: 20px;
        width: 60px;
        margin-right: 10px;
        cursor: pointer;
    }

    .social > img {
        width: 50px;
    }


    /* Estilos da Página do Conversor de Peso */

    /*Menu de navegação*/
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.856);
        border-radius: 0;
        height: 12vh;
        font-size: 12px;
        text-align: center;
    }
    .nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        letter-spacing: 3px;
        margin-left: 32px;
        top: 12vh;
        right: 0;
        left: 40px;
        width: 80vw;
        height: 88vh;
        background-color: rgba(0, 0, 0, 0.856);
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        
    }
    .nav-list a {
        border: none;
        margin-left: 0;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .mobile-menu {
        display: block;
        cursor: pointer;
    }

    .mobile-menu div{
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
        transition: 0.3s;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line3 {
        opacity: 0;
    }

    .mobile-menu.active .line2 {
        transform: rotate(45deg) translate(1px, -1px);
    }

    /*Corpo da página*/

    #Conversor {
        display: flex;
        flex-direction: column;
        margin: auto;
        border-radius: 15px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.788);
        font-size: 14px;
        width: 235px;
    }
    
    #conversor, input, select, .opcao {
        background: linear-gradient(to right, white, #294282, #5A3471);
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: bolder;
        padding: 5px;
        border-radius: 5px;
        width: 220px;
    }

    #converter {
        background-color: rgba(0, 0, 0, 0);
        width: 200px;
        margin: 20px auto;
        border: 1px solid rgb(109, 48, 133);
        border-radius: 15px;
        font-size: 12px;
        font-weight: bolder;
        padding: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #converter:hover {
    padding: 10px;
    transition: 0.3s;
    border: 1px solid rgba(163, 68, 163, 0.808);
    background-color: rgba(211, 211, 211, 0.219);
    }
    
}