@charset "UTF-8";

@media screen and (max-width: 500px) {

    /* Estilo do corpo da página */
    body {
        background: linear-gradient(to right, rgb(29, 28, 72), rgb(1, 20, 62));
        width: 100vw;
        overflow-x: hidden;
    }
    /* Estilo do Cabeçalho */
    header {
        height: 100px;
    }
    
    header > h1 {
        font-size: 34px;
        text-align: center;
    
    }
    /* Estilos da Página Inicial, do menu e dos botões */
    #menu {
        width: 90vw;
        height: 50vh;
    }

    #OrganizacaoBotoes > div {
        width: 100%;
        height: 155px;
        padding-right: 500px;
    }

    .botao {
        width: 50px;
        height: 50px;
        padding: 50px 30px 10px 20px;
        font-size: 12px;
    }

    .botao #imgCalculadora {
        width: 60px;
        margin: -60px 2px;
    }
    
    .botao #imgPeso {
        width: 60px;
        margin: -60px -2px;
    }

    #documentos > svg {
        width: 50px;
        margin: -55px 5px;
    }
    
    .botao #imgMoeda {
        width: 45px;
        margin: -50px 5px;
    }
    
    .botao #imgComprimento {
        width: 60px;
        margin: -55px 2px;
    }

    #audio > svg {
        width: 45px;
        margin: -55px 5px;
    }

        /*  Estilo do PopUp da Calculadora */

    .popup {
    width: 80%;
    }

    /* Estilo da calculadora */ 
    .calculadora {
    padding: 10px;
    }

    #resultado {
    width: 200px;
    height: 20px;
    font-size: 14px;   
    }

    .CalcBotao {
    margin: 1px;
    font-size: 16px;
    }

/* Rodape */ 

    footer {
        font-size: 10px;  
    }

    footer > div {
        height: 10vh;
    }
    
    .social {
        width: 60px;
        margin-right: 10px;
    }

    .social > img {
        width: 50px;
    }


    /* Estilos da Página do Conversor de Peso */

    /*Menu de navegação*/
    nav {
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.856);
        border-radius: 0;
        height: 12vh;
        font-size: 12px;
        text-align: center;
    }
    .nav-list {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        letter-spacing: 3px;
        margin-left: 32px;
        top: 12vh;
        right: 0;
        left: 45px;
        width: 80vw;
        height: 87.7vh;
        background-color: rgba(0, 0, 0, 0.856);
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        box-sizing: border-box;
        
    }
    .nav-list a {
        border: none;
        margin-left: 0;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(40px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .mobile-menu {
        display: block;
        cursor: pointer;
    }

    .mobile-menu div{
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
        transition: 0.3s;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line3 {
        opacity: 0;
    }

    .mobile-menu.active .line2 {
        transform: rotate(45deg) translate(1px, -1px);
    }

    /*Corpo da página*/

    #Conversor {
        font-size: 14px;
        width: 235px;
    }
    
    #conversor, input, select, .opcao {
        font-size: 12px;
        font-weight: bolder;
        width: 220px;
    }

    #resultado {
        width: 150px;
        height: 20px;
        font-size: 10px;
        }

    #converter {
        width: 200px;
        margin: 20px auto;
        font-size: 12px;
        font-weight: bolder;
        padding: 5px;
        transition: 0.3s;
    }

    #converter:hover {
    padding: 10px;
    border: 1px solid rgba(163, 68, 163, 0.808);
    } 

    .artigo {
        padding-top: 25px;
        color: white;
        font-size: 14px;
        text-align: justify;
    }

    .artigo > h3 {
        font-size: 18px;
        text-align: center;
        line-height: 3em;
    }
}

@media screen and (min-width: 501px) and (max-width: 1200px) {
    #menu {
        width: 40vw;
        height: 45vh;
        margin: -30px auto;
    }

    #OrganizacaoBotoes > div {
        width: 160px;
        height: 160px;
        padding-right: 150px;
    }

    .botao {
        display: block;
        width: 65px;
        height: 75px;
        padding: 50px 30px 10px 20px;
        font-size: 12px;
    }

    .botao #imgCalculadora {
        width: 70px;
        margin: -70px 2px;
    }
    
    .botao #imgPeso {
        width: 70px;
        margin: -70px -2px;
    }

    #documentos > svg {
        width: 50px;
        margin: -55px 5px;
    }
    
    .botao #imgMoeda {
        width: 55px;
        margin: -60px 5px;
    }
    
    .botao #imgComprimento {
        width: 70px;
        margin: -65px 2px;
    }

    #audio > svg {
        width: 45px;
        margin: -55px 5px;
    }

        /*  Estilo do PopUp da Calculadora */

    .popup {
    width: 80%;
    }

    /* Estilo da calculadora */ 
    .calculadora {
    padding: 10px;
    }

    #resultado {
    width: 200px;
    height: 28px;
    font-size: 12px;   
    }

    .CalcBotao {
    margin: 1px;
    font-size: 16px;
    }

/* Rodape */ 

    footer {
        font-size: 10px;  
    }

    footer > div {
        height: 5vh;
    }
    
    .social {
        width: 60px;
        margin-right: 10px;
    }

    .social > img {
        width: 50px;
    }

    .nav-list {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        letter-spacing: 3px;
        margin-left: 32px;
        top: 13vh;
        right: 0;
        left: 206px;
        width: 80vw;
        height: 88vh;
        background-color: rgba(0, 0, 0, 0.856);
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        box-sizing: border-box;
        
    }
    .nav-list a {
        border: none;
        margin-left: 0;
    }
    
    .nav-list.active {
        transform: translateX(0);
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(40px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .mobile-menu {
        display: block;
        cursor: pointer;
    }
    
    .mobile-menu div{
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
        transition: 0.3s;
    }
    
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line3 {
        opacity: 0;
    }
    
    .mobile-menu.active .line2 {
        transform: rotate(45deg) translate(1px, -1px);
    }
    
    

}