/* Para telas com altura maior que a largura */

@media screen and (min-width: 768px) and (min-height: 1024px) {
    body::-webkit-scrollbar {
        width: 0px;
      }

      #menu {
        width: 45vw;
      }
      
    .nav-list {
        top: 7vh;
    }

    #resultado {
        font-size: 18px;
    }

    .artigo h3 {
        text-indent: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
}

@media screen and (width: 820px) and (height: 1180px) {
    .nav-list {
        top: 8.3vh;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .nav-list {
        top: 9.8vh;
    }
}