/* Para telas com altura maior que a largura */

@media screen and (min-height: 763px) {

    body::-webkit-scrollbar {
        width: 0px;
      }
      
    .nav-list {
        top: 9.4vh;
    }

    #resultado {
        font-size: 18px;
    }

    .artigo h3 {
        text-indent: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
}